.imageupload{
    display: none;
}
.contain{
    display: flex;
}
/* .btn{
    background-color: rgb(217, 217, 217);
    border-radius: 0%;
    margin-top: 3px;
    margin-left: 5px;
    border-width: 0px;
} */
.uploadedImage{
    background-color: rgba(217, 217, 217, 0.347);
    border-radius: 0%;
    margin-left: 30px;
    margin-right: 200px;
    border-width: 3px;
}
.imge{
    width:400px;
    height:auto;

}
